/* Use display, flex-wrap, justify-content and align-content to solve this */

#e6 .container {
    height: 500px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#e6 .item {
    height: 100px;
    width: 400px;
}