/* Use display, justify-content, align-items, align-content and flex-wrap to solve this */

#e9 .container {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#e9 .item {
    height: 60px;
    width: 60px;
}