/* Use display, flex-wrap, justify-content and align-content to solve this */

#e5 .container {
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

#e5 .item {
    height: 100px;
    width: 400px;
}